* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  margin-top: 15px;
  text-align: center;
}

#url_input {
  margin: 10px;
  width: 400px;
  padding: 3px;
  font-size: 1.1rem;
}

#submit-btn {
  width: 150px;
  align-self: center;
  background-color: black;
  color: #eee;
  border-radius: 5px;
  border: none;
  padding: 12px 15px;
  font-weight: 700;
  margin-top: 15px;
}

p {
  margin-top: 50px;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  #url_input {
    width: 300px;
  }
}
